/*Your Code Here*/
/* PLEASE DO NOT REMOVE MY COMMENTS.  THEY HELP US HELP YOU DEBUG. */

/* Step 1: Write selector/rule property to add an underline when
links in the navigation are in the hover or focus state.*/



/* Step 2a: Write selector/rule property to position the default position for the skip class element*/


/* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/


/* Step 3: Write selector/rule property to style all elements when in focus*/



/* Step 4: Write selector/rule property to style the container */


/* Step 5: Write selector/rule property to add the background image to the 
first div in the grid  and place it in the grid. */



/* Steps 6 and 7: Write the selector/rule properties to add place the next elements in the next
 four rows in the grid. */

      /*This will be a lot of rules.... but be strategic and combine seletors*/


 /* Step 8: Write the selector/rule property to style the .text-block class. */


/* Add your media query here */


  /* Step 9: Write the selector/rule property to style the nav element */

 
  /* Step 10: Write the selector/rule property to update the .container class */


  /* Steps 11 and 12: Update the grid-column property of the grid's children (where-needed)*/



 /* Step 13:Write the selector/rule property to update the .text-block class */

